<% provide(:title, "ホーム") %>
<div class="container">
  <% if logged_in? %>
    <%= render 'shared/home_logged_in'%>
  <% else %>
    <%= render 'shared/home_not_logged_in'%>
  <% end %>
</div>
<%unless logged_in? %>
  <div class="row ranking-not-loggin">
  <% else %>
  <div class="row ranking-loggin">
<% end %>
  <h1>高評価サプリランキング</h1>
    <div class="container">
    <% @top_sapli.each.with_index(1) do |sapli, i| %>
      <div class="col-md-4 sapli-back-rank">
        <h3 id="rank"><%= i %>位</h3>
        <% if sapli.img.attached? %>
          <%=link_to (image_tag sapli.img, size:200), sapli, class: "sapli_img" %><br>
        <% end %>
        <p><%= link_to sapli.name, sapli %></p>
        <p><%= sapli.reviews.average(:score).round(1) %>点</p>
        <%# 星 %>
        <span class="score index_star">
          <span id="star-score-<%= sapli.id %>"></span>
            <script>
              $('#star-score-<%= sapli.id %>').raty({
                size: 22,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn :  '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= sapli.reviews.average(:score) %>,
              });
            </script>
        </span>
      </div>
    <% end %>
</div>