<div class="container">
    <div class="row">
      <% @supplements.each do |sapli| %>
        <div class="col-md-3 col-md-offset-1 sapli-back">
          <% if sapli.img.attached? %>
            <%=link_to (image_tag sapli.img, size:200), sapli, class: "sapli_img" %><br>
          <% end %>
          <p><%= link_to sapli.name, sapli %></p>
          <% if current_user && current_user.admin? %>
              　| <%= link_to "delete", sapli, method: :delete, 
                                                 data: { confirm: "削除しますか？" } %>
          <% end %>
        <div class="score index_star">
          <span id="star-score-<%= sapli.id %>"></span>
            <script>
              $('#star-score-<%= sapli.id %>').raty({
                size: 22,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= sapli.reviews.average(:score) %>,
              });
            </script>
          </div>
        </div>
      <% end %>
    </div>
</div>