<% @users.each do |user| %>
  <div class="col-md-3 col-md-offset-1 users">
    <section class="user-img">
      <% if user.img.attached? %>
        <%= link_to (image_tag user.display_image), user_path(user) %>
      <% else %>
        <%= link_to (image_tag "/assets/default.jpg"), user_path(user) %>
      <% end %>
    </section>
    <section class="user_info">
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
        　| <%= link_to "delete", user, method: :delete, data: { confirm: "削除しますか？" } %>
      <% end %>
    </section>
    <section class="user-stats">
      <span><%= user.following.count %>フォロー | </span>
      <span><%= user.followers.count %>フォロワー</span>
      <br>
      <span><%= user.microposts.count %>投稿 | </span>
      <span><%= user.reviews.count %>評価</span>
      <br>
      <span>お気に入りサプリ：<%= user.favorites.count %>個</span>
    </section>
  </div>
<% end %>