<% provide(:title, @title) %>
<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section class="user-img">
        <%= render 'shared/user_img' %>
      </section>
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8" style="margin-top: -30px">
      <h3><%= @user.name %>の<%= @title %>（<%= @user.microposts.count %>）</h3>
      <% if @microposts.any? %>
        <ul class="microposts">
          <%= render @microposts %>
        </ul>
        <%= will_paginate @microposts%>
      <% end %>
    </div>
  </div>
</div>