<% @user ||= current_user %>

<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="favorire" class="stat">
      <%= "（サプリ数）" %>
    </strong>
    お気に入りサプリ
  </a>
</div>
<%# 投稿数評価数 %>
<div class="stats2">
  <p>
    <strong id="mpcount" class="stat">
      <%= current_user.microposts.count %>
    </strong>
    投稿数
  </p>
  <p>
    <strong id="spcount" class="stat">
      <%= current_user.reviews.count %>
    </strong>
    サプリ評価数
  </p>
</div>