<li id="micropost-<%= micropost.id %>">
  <span>
    <% if micropost.user.img.attached? %>
      <%=link_to image_tag(micropost.user.display_image, class: "user_img_post"), micropost.user %>
    <% else %>
      <%=link_to image_tag("default.jpg",  class: "user_img_post"), micropost.user %>
    <% end %>
  </span>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <br>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span>
  <span class="timestamp"><%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      | <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "削除しますか？" } %>
    <% end %>
  </span>
</li>